:root {
    --bg-color1: #ebebeb;
    --bg-color2: #dd5555;
    --bg-color3: #ffffff;
    --font-color1: #333333;
    --shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

body {
    background-color: var(--bg-color1);
}

img {
    width: 100%;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */

.header .container-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 20px 40px;
}

.header .container-select img {
    margin-right: 10px;
    width: 25%;
}

/* GENERAL */

.header div.general {
    max-width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 30px;
    background-color: var(--bg-color3);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.header div.general div.header-general {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header div.general div.header-general img {
    margin-right: 10px;
    width: 10%;
}

.header div.general div.header-general h3 {
    margin: 20px 0 20px 0;
}

.header div.general p {
    margin: 0 0 10px 0;
}

.header div.general .general_confirmados {
    color: #e0ae25;
}

.header div.general .general_recuperados {
    color: #5ab63b;
}

.header div.general .general_mortes {
    color: #df0f08;
}

.header div.general p span {
    font-size: 12px;
}

.header div.general .last-update-general {
    margin-top: -13px;
    margin-bottom: 10px;
    font-size: 12px;
    font-style: italic;
}

.header .select-country, .header .btn-search {
    border: 2px solid var(--bg-color2);
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
}

.header .btn-search {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bg-color2);
    transition: all 0.2s;
    outline: none;
}

.header .btn-search:hover {
    background-color: var(--bg-color2);
    color: var(--bg-color1);
}

/* content data */

.container-informations .last-update p {
    margin-top: 20px;
    text-align: center;
    margin-bottom: -20px;
}

.container-informations .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container-informations .data div {
    margin-top: 40px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.container-informations .quantidades {
    background-color: var(--bg-color2);
    color: var(--bg-color1);
    height: 84px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

.container-informations div p:nth-child(2) {
    background-color: var(--bg-color3);
    color: var(--bg-color2);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

/* recommendations */

.container-recommendations {
    margin: 40px auto;
    grid-template-columns: 2fr 1fr 1fr;
}

.recommendations {
    display: grid;
    gap: 20px;
    grid-template-areas: "recommendation-1 recommendation-1 recommendation-2" "recommendation-3 recommendation-4 recommendation-2" "recommendation-5 recommendation-4 recommendation-6" "recommendation-5 recommendation-7 recommendation-7" "recommendation-8 recommendation-8 recommendation-8";
}

.recommendation-1 {
    grid-area: recommendation-1;
}

.recommendation-2 {
    grid-area: recommendation-2;
}

.recommendation-3 {
    grid-area: recommendation-3;
}

.recommendation-4 {
    grid-area: recommendation-4;
}

.recommendation-5 {
    grid-area: recommendation-5;
}

.recommendation-6 {
    grid-area: recommendation-6;
}

.recommendation-7 {
    grid-area: recommendation-7;
}

.recommendation-8 {
    grid-area: recommendation-8;
}

.recommendations div {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 20px;
    background-color: var(--bg-color3);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.recommendations div img {
    max-width: 60px;
    width: 100%;
}

.recommendations div p {
    margin-top: 10px;
    text-align: center;
}

/* mobile */

@media screen and (max-width: 600px) {
    .header .logo {
        flex-direction: column;
    }
    .header div.general {        
        max-width: 320px;
        width: 300px;
        padding: 30px 10px;
        margin-top: 15px;
    }
    .header div.general p {
        font-size: 12px;
    }
    .header .btn-search {
        margin-top: 10px;
        max-width: 255px;
        width: 100%;
    }
    .container-select div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-informations .quantidades {
        font-size: 24px;
        padding: 20px 10px;
        height: 66px;
    }
    .container-informations div p:nth-child(2) {
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
    }
    .container-informations .data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        gap: 20px;
        grid-template-areas: "confirmados recuperados" "mortes mortes";
    }
    .confirmados {
        grid-area: confirmados;
    }
    .recuperados {
        grid-area: recuperados;
    }
    .mortes {
        grid-area: mortes;
    }
    .container-informations .data div:nth-child(3) {
        margin-top: 0;
    }
    .container-recommendations {
        margin: 20px auto;
    }
    .recommendations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "recommendation-1" "recommendation-2" "recommendation-3" "recommendation-4" "recommendation-5" "recommendation-6" "recommendation-7" "recommendation-8";
    }
}