<section class="container container-informations">
    
    <div class="last-update"></div>
    <div class="data"></div>
    
</section>

<section class="container container-recommendations">

    <div class="recommendations">

        <div class="recommendation-1">
            <img src="assets/icons/no-handshake.svg" alt="Image handshake">
            <p>Não aperte as mãos.</p>
        </div>

        <div class="recommendation-2">
            <img src="assets/icons/fever.svg" alt="Image sick animal">
            <p>Evite contato com animais doentes.</p>
        </div>

        <div class="recommendation-3">
            <img src="assets/icons/no-flight.svg" alt="Image no flight">
            <p>Não viage se você tiver tosse e febre.</p>
        </div>

        <div class="recommendation-4">
            <img src="assets/icons/man.svg" alt="Image man">
            <p>Se possuir dúvidas sobre sua situação, use máscaras.</p>
        </div>

        <div class="recommendation-5">
            <img src="assets/icons/cough.svg" alt="Image man cough">
            <p>Quando estiver espirrando ou tossindo, cubra sua boca e nariz com lenço.</p>
        </div>

        <div class="recommendation-6">
            <img src="assets/icons/handwash.svg" alt="Image handwash">
            <p>Após lavar as mãos, intensifique a higienização, utilize álcool antisséptico.</p>
        </div>

        <div class="recommendation-7">
            <img src="assets/icons/social-distancing.svg" alt="Image social-distancing">
            <p>Respeite o distanciamento social.</p>
        </div>

        <div class="recommendation-8">
            <img src="assets/icons/stay-home.svg" alt="Image stay-home">
            <p>Fique em casa durante a quarenta, e so saia em necessidade extrema.
            </p>
        </div>

    </div>

</section>