<header class="header">

    <section class="container container-select">

        <div class="logo">
            <img src="assets/icons/coronavirus.svg" alt="">    

            <div class="general">
                <div class="header-general">
                    <img src="assets/icons/globe.svg" alt="">
                    <h3>Números no mundo</h3>
                </div>
                <div class="last-update-general"></div>
            </div>
        </div>

        <div>
            <select class="select-country" name="select-country">
                {% for country in arrayContries %}
                    <option value="{{country}}">{{country}}</option>
                {% endfor %}
            </select>

            <button class="btn-search">Buscar</button>
        </div>
        
    </section>

</header>